<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title bannertitle">
        Fire Sale
      </h1>
      <h2 class="subtitle">
        Get it while it's hot
      </h2>
    </div>
    <ngx-carousel
      [inputs]="carouselTile"
      (carouselLoad)="carouselTileLoad($event)">

            <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
                <img class='bannerimg' src='../../assets/images/model1.jpg' />
            </ngx-tile>

          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
  </div>
</section>

<div class="columns is-gapless">
  <div class="column">
    <figure class="image">
      <img src="../../assets/images/model1.jpg" alt="Image">
    </figure>
  </div>
  <div class="column">
    <figure class="image">
      <img src="../../assets/images/model1.jpg" alt="Image">
    </figure>
  </div>
  <div class="column">
    <figure class="image">
      <img src="../../assets/images/model1.jpg" alt="Image">
    </figure>
  </div>
  <div class="column">
    <figure class="image">
      <img src="../../assets/images/model1.jpg" alt="Image">
    </figure>
  </div>
</div>
<div class="is-divider" data-content="Best Sellers"></div>
<div class="columns is-gapless">
  <div class="column">
    <figure class="image">
      <img src="../../assets/images/model1.jpg" alt="Image">
    </figure>
  </div>
  <div class="column">
    <figure class="image">
      <img src="../../assets/images/model1.jpg" alt="Image">
    </figure>
  </div>
  <div class="column">
    <figure class="image">
      <img src="../../assets/images/model1.jpg" alt="Image">
    </figure>
  </div>
  <div class="column">
    <figure class="image">
      <img src="../../assets/images/model1.jpg" alt="Image">
    </figure>
  </div>
</div>
