<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      Dropshop
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">NEW-IN</a>
      <a class="navbar-item">DESIGNERS</a>
      <a class="navbar-item">CLOTHING</a>
      <a class="navbar-item">SHOES</a>
      <a class="navbar-item">BAGS</a>
      <a class="navbar-item">ACCESSORIES</a>
      <a class="navbar-item">CONSULTING</a>
      <a class="navbar-item">EDITORIAL</a>
      <a class="navbar-item">SALES</a>
      <a class="navbar-item">CLOSET</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item">Login</a>
      <a class="navbar-item">Register</a>
    </div>
  </div>
</nav>
